# Gradle
.gradle
/build

# Android-specific files
/local.properties
.DS_Store
.idea/
/captures
/externalNativeBuild
/merged-not-compiled-resources
/merged-standalone-resources
/mobile-production
/proguard-rules.pro
/aapt-rules.txt

# IntelliJ/Android Studio files
*.iml
*.iws
.project
.settings
/app/build/
/app/src/androidTest/
/app/src/test/
/app/src/main/jniLibs/

# Keystore files
*.jks
*.keystore

# macOS specific files
.DS_Store